@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Spartan', sans-serif;

}


/* #navbar .form-outline {
    margin-right: -10px;
    flex-grow: 1;
}

#navbar .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

#navbar .btn-primary {
    background-color: #4090eb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#navbar .btn-primary:hover {
    background-color: #a40000;
} */


/* styles.css */
.welcome-message {
    font-size: 20px;
    color: white;
    background-color: #4CAF50; /* Green background */
    padding: 10px;
    border-radius: 5px;
}

.logout-link {
    color: white;
    text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}

.error-message {
    font-size: 20px;
    color: white;
    background-color: #FF5733; /* Red background */
    padding: 10px;
    border-radius: 5px;
}


.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 50%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: rgb(241, 233, 233);
}


h2 {
    font-size: 46px;
    line-height: 54px;
    color: rgb(241, 233, 233);
}


h3 {
    font-size: 50px;
    line-height: 64px;
    color:#0f0f0f;
}

h4 {
    font-weight: 20px;
    color: rgb(241, 233, 233);
}

h5 {
    font-size: 50px;
    line-height: 64px;
    color: rgb(241, 233, 233);
}

h6 {
    font-weight: 20px;
    color: rgb(241, 233, 233);
}

#para {
    font-size: 16px;
    color: rgb(241, 233, 233);
    margin: 15px 0 20px 0;
    letter-spacing: 1px;
}

#para p {
  font-size: 16px;
  color: rgb(241, 233, 233);
  margin: 15px 0 20px 0;
  letter-spacing: 1px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    background-color: #ffffff; /* Set background color to white */
     background-repeat: no-repeat;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='316' preserveAspectRatio='none' viewBox='0 0 1440 316'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2048%26quot%3b)' fill='none'%3e%3crect width='1440' height='316' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2049%26quot%3b)'%3e%3c/rect%3e%3cpath d='M182.86 179.91L247.81 217.41L247.81 292.41L182.86 329.91L117.9 292.41L117.9 217.41zM247.81 292.41L312.76 329.91L312.76 404.91L247.81 442.41L182.86 404.91L182.86 329.91zM377.72 292.41L442.67 329.91L442.67 404.91L377.72 442.41L312.76 404.91L312.76 329.91zM442.67 -45.09L507.63 -7.59L507.63 67.41L442.67 104.91L377.72 67.41L377.72 -7.59zM507.63 67.41L572.58 104.91L572.58 179.91L507.63 217.41L442.67 179.91L442.67 104.91zM442.67 179.91L507.63 217.41L507.63 292.41L442.67 329.91L377.72 292.41L377.72 217.41zM507.63 292.41L572.58 329.91L572.58 404.91L507.63 442.41L442.67 404.91L442.67 329.91zM572.58 179.91L637.53 217.41L637.53 292.41L572.58 329.91L507.63 292.41L507.63 217.41zM832.39 -45.09L897.35 -7.59L897.35 67.41L832.39 104.91L767.44 67.41L767.44 -7.59zM1416.98 292.41L1481.93 329.91L1481.93 404.91L1416.98 442.41L1352.03 404.91L1352.03 329.91zM1546.89 292.41L1611.84 329.91L1611.84 404.91L1546.89 442.41L1481.93 404.91L1481.93 329.91z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M175.36 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM175.36 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM110.4 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM110.4 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM305.26 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM305.26 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM175.36 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 -45.09 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM630.03 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM630.03 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM824.89 -45.09 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM889.85 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM889.85 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM824.89 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM759.94 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM759.94 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1409.48 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1474.43 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1474.43 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1409.48 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1344.53 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1344.53 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1539.39 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1604.34 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1604.34 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1539.39 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M11.71 122.57L55.01 147.57L55.01 197.57L11.71 222.57L-31.59 197.57L-31.59 147.57zM55.01 197.57L98.31 222.57L98.31 272.57L55.01 297.57L11.71 272.57L11.71 222.57zM11.71 272.57L55.01 297.57L55.01 347.57L11.71 372.57L-31.59 347.57L-31.59 297.57zM141.62 47.57L184.92 72.57L184.92 122.57L141.62 147.57L98.31 122.57L98.31 72.57zM98.31 122.57L141.62 147.57L141.62 197.57L98.31 222.57L55.01 197.57L55.01 147.57zM141.62 197.57L184.92 222.57L184.92 272.57L141.62 297.57L98.31 272.57L98.31 222.57zM228.22 47.57L271.52 72.57L271.52 122.57L228.22 147.57L184.92 122.57L184.92 72.57zM184.92 122.57L228.22 147.57L228.22 197.57L184.92 222.57L141.62 197.57L141.62 147.57zM228.22 197.57L271.52 222.57L271.52 272.57L228.22 297.57L184.92 272.57L184.92 222.57zM271.52 -27.43L314.83 -2.43L314.83 47.57L271.52 72.57L228.22 47.57L228.22 -2.43zM271.52 122.57L314.83 147.57L314.83 197.57L271.52 222.57L228.22 197.57L228.22 147.57zM358.13 122.57L401.43 147.57L401.43 197.57L358.13 222.57L314.83 197.57L314.83 147.57zM401.43 197.57L444.74 222.57L444.74 272.57L401.43 297.57L358.13 272.57L358.13 222.57zM488.04 47.57L531.34 72.57L531.34 122.57L488.04 147.57L444.74 122.57L444.74 72.57zM444.74 122.57L488.04 147.57L488.04 197.57L444.74 222.57L401.43 197.57L401.43 147.57zM444.74 272.57L488.04 297.57L488.04 347.57L444.74 372.57L401.43 347.57L401.43 297.57zM531.34 -27.43L574.64 -2.43L574.64 47.57L531.34 72.57L488.04 47.57L488.04 -2.43zM661.25 47.57L704.55 72.57L704.55 122.57L661.25 147.57L617.95 122.57L617.95 72.57zM747.85 47.57L791.16 72.57L791.16 122.57L747.85 147.57L704.55 122.57L704.55 72.57zM834.46 47.57L877.76 72.57L877.76 122.57L834.46 147.57L791.16 122.57L791.16 72.57zM791.16 122.57L834.46 147.57L834.46 197.57L791.16 222.57L747.85 197.57L747.85 147.57zM834.46 197.57L877.76 222.57L877.76 272.57L834.46 297.57L791.16 272.57L791.16 222.57zM921.06 197.57L964.37 222.57L964.37 272.57L921.06 297.57L877.76 272.57L877.76 222.57zM877.76 272.57L921.06 297.57L921.06 347.57L877.76 372.57L834.46 347.57L834.46 297.57zM964.37 -27.43L1007.67 -2.43L1007.67 47.57L964.37 72.57L921.06 47.57L921.06 -2.43zM1007.67 47.57L1050.97 72.57L1050.97 122.57L1007.67 147.57L964.37 122.57L964.37 72.57zM964.37 272.57L1007.67 297.57L1007.67 347.57L964.37 372.57L921.06 347.57L921.06 297.57zM1050.97 -27.43L1094.27 -2.43L1094.27 47.57L1050.97 72.57L1007.67 47.57L1007.67 -2.43zM1094.27 47.57L1137.58 72.57L1137.58 122.57L1094.27 147.57L1050.97 122.57L1050.97 72.57zM1094.27 197.57L1137.58 222.57L1137.58 272.57L1094.27 297.57L1050.97 272.57L1050.97 222.57zM1050.97 272.57L1094.27 297.57L1094.27 347.57L1050.97 372.57L1007.67 347.57L1007.67 297.57zM1180.88 47.57L1224.18 72.57L1224.18 122.57L1180.88 147.57L1137.58 122.57L1137.58 72.57zM1137.58 122.57L1180.88 147.57L1180.88 197.57L1137.58 222.57L1094.27 197.57L1094.27 147.57zM1267.48 47.57L1310.79 72.57L1310.79 122.57L1267.48 147.57L1224.18 122.57L1224.18 72.57zM1224.18 122.57L1267.48 147.57L1267.48 197.57L1224.18 222.57L1180.88 197.57L1180.88 147.57zM1310.79 -27.43L1354.09 -2.43L1354.09 47.57L1310.79 72.57L1267.48 47.57L1267.48 -2.43zM1310.79 122.57L1354.09 147.57L1354.09 197.57L1310.79 222.57L1267.48 197.57L1267.48 147.57zM1354.09 197.57L1397.39 222.57L1397.39 272.57L1354.09 297.57L1310.79 272.57L1310.79 222.57z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2048'%3e%3crect width='1440' height='316' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2049'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.92'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.93'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.96'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.97'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover; /* Makes the background image cover the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}



#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size:  17px;
    font-weight: 600;
    color: #cfcbcb;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ffffff;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;

}
#close{
    display: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* Darker transparent background color */
  backdrop-filter: blur(15px); /* Increased blur effect for darker glassmorphism */
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Slightly lighter border for contrast */
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3); /* Darker shadow for better contrast */
  border-radius: 10px; /* Rounded corners */
  z-index: 1;
}

.dropdown-content a {
  color: white; /* Set font color to white */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: white; /* Set font color to white on hover */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a slight background color on hover for contrast */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.dropbtn i {
  margin-left: 8px; /* Space between text and icon */
}

.dropdown:hover .dropbtn {
  border-bottom: 2px solid #eef3ee; /* Add a line under the button on hover */
}


#hero {
  background-image: url("../css/home-img.svg");
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 10% top 25%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: 510px 500px;
    filter: drop-shadow(5px 5px 5px black)
}


#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #0f0f0f;

}



#hero button {


    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #740000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: #740000;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
  }

  #hero button:focus {
    outline: none;
  }

  #hero button:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
  }

  #hero button .second {
    transition: 0.5s;
    margin-right: 0px;
  }

  #hero button:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
  }

  #hero .span {
    transform: skewX(15deg)
  }

  #hero.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }

  .one {
    transition: 0.4s;
    transform: translateX(-60%);
  }

  .two {
    transition: 0.5s;
    transform: translateX(-30%);
  }

  #hero button:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }

  #hero button:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  #hero button:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  @keyframes color_anim {
    0% {
      fill: white;
    }

    50% {
      fill: #FBC638;
    }

    100% {
      fill: white;
    }
  }


/* Welcome Banner */

.col-md-6 {
    max-width: 400px; /* Adjust the maximum width as per your design */
}


#page-header.about-header{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='316' preserveAspectRatio='none' viewBox='0 0 1440 316'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2048%26quot%3b)' fill='none'%3e%3crect width='1440' height='316' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2049%26quot%3b)'%3e%3c/rect%3e%3cpath d='M182.86 179.91L247.81 217.41L247.81 292.41L182.86 329.91L117.9 292.41L117.9 217.41zM247.81 292.41L312.76 329.91L312.76 404.91L247.81 442.41L182.86 404.91L182.86 329.91zM377.72 292.41L442.67 329.91L442.67 404.91L377.72 442.41L312.76 404.91L312.76 329.91zM442.67 -45.09L507.63 -7.59L507.63 67.41L442.67 104.91L377.72 67.41L377.72 -7.59zM507.63 67.41L572.58 104.91L572.58 179.91L507.63 217.41L442.67 179.91L442.67 104.91zM442.67 179.91L507.63 217.41L507.63 292.41L442.67 329.91L377.72 292.41L377.72 217.41zM507.63 292.41L572.58 329.91L572.58 404.91L507.63 442.41L442.67 404.91L442.67 329.91zM572.58 179.91L637.53 217.41L637.53 292.41L572.58 329.91L507.63 292.41L507.63 217.41zM832.39 -45.09L897.35 -7.59L897.35 67.41L832.39 104.91L767.44 67.41L767.44 -7.59zM1416.98 292.41L1481.93 329.91L1481.93 404.91L1416.98 442.41L1352.03 404.91L1352.03 329.91zM1546.89 292.41L1611.84 329.91L1611.84 404.91L1546.89 442.41L1481.93 404.91L1481.93 329.91z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M175.36 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM175.36 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM110.4 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM110.4 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM305.26 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM305.26 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM175.36 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 -45.09 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM630.03 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM630.03 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM824.89 -45.09 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM889.85 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM889.85 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM824.89 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM759.94 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM759.94 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1409.48 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1474.43 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1474.43 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1409.48 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1344.53 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1344.53 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1539.39 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1604.34 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1604.34 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1539.39 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M11.71 122.57L55.01 147.57L55.01 197.57L11.71 222.57L-31.59 197.57L-31.59 147.57zM55.01 197.57L98.31 222.57L98.31 272.57L55.01 297.57L11.71 272.57L11.71 222.57zM11.71 272.57L55.01 297.57L55.01 347.57L11.71 372.57L-31.59 347.57L-31.59 297.57zM141.62 47.57L184.92 72.57L184.92 122.57L141.62 147.57L98.31 122.57L98.31 72.57zM98.31 122.57L141.62 147.57L141.62 197.57L98.31 222.57L55.01 197.57L55.01 147.57zM141.62 197.57L184.92 222.57L184.92 272.57L141.62 297.57L98.31 272.57L98.31 222.57zM228.22 47.57L271.52 72.57L271.52 122.57L228.22 147.57L184.92 122.57L184.92 72.57zM184.92 122.57L228.22 147.57L228.22 197.57L184.92 222.57L141.62 197.57L141.62 147.57zM228.22 197.57L271.52 222.57L271.52 272.57L228.22 297.57L184.92 272.57L184.92 222.57zM271.52 -27.43L314.83 -2.43L314.83 47.57L271.52 72.57L228.22 47.57L228.22 -2.43zM271.52 122.57L314.83 147.57L314.83 197.57L271.52 222.57L228.22 197.57L228.22 147.57zM358.13 122.57L401.43 147.57L401.43 197.57L358.13 222.57L314.83 197.57L314.83 147.57zM401.43 197.57L444.74 222.57L444.74 272.57L401.43 297.57L358.13 272.57L358.13 222.57zM488.04 47.57L531.34 72.57L531.34 122.57L488.04 147.57L444.74 122.57L444.74 72.57zM444.74 122.57L488.04 147.57L488.04 197.57L444.74 222.57L401.43 197.57L401.43 147.57zM444.74 272.57L488.04 297.57L488.04 347.57L444.74 372.57L401.43 347.57L401.43 297.57zM531.34 -27.43L574.64 -2.43L574.64 47.57L531.34 72.57L488.04 47.57L488.04 -2.43zM661.25 47.57L704.55 72.57L704.55 122.57L661.25 147.57L617.95 122.57L617.95 72.57zM747.85 47.57L791.16 72.57L791.16 122.57L747.85 147.57L704.55 122.57L704.55 72.57zM834.46 47.57L877.76 72.57L877.76 122.57L834.46 147.57L791.16 122.57L791.16 72.57zM791.16 122.57L834.46 147.57L834.46 197.57L791.16 222.57L747.85 197.57L747.85 147.57zM834.46 197.57L877.76 222.57L877.76 272.57L834.46 297.57L791.16 272.57L791.16 222.57zM921.06 197.57L964.37 222.57L964.37 272.57L921.06 297.57L877.76 272.57L877.76 222.57zM877.76 272.57L921.06 297.57L921.06 347.57L877.76 372.57L834.46 347.57L834.46 297.57zM964.37 -27.43L1007.67 -2.43L1007.67 47.57L964.37 72.57L921.06 47.57L921.06 -2.43zM1007.67 47.57L1050.97 72.57L1050.97 122.57L1007.67 147.57L964.37 122.57L964.37 72.57zM964.37 272.57L1007.67 297.57L1007.67 347.57L964.37 372.57L921.06 347.57L921.06 297.57zM1050.97 -27.43L1094.27 -2.43L1094.27 47.57L1050.97 72.57L1007.67 47.57L1007.67 -2.43zM1094.27 47.57L1137.58 72.57L1137.58 122.57L1094.27 147.57L1050.97 122.57L1050.97 72.57zM1094.27 197.57L1137.58 222.57L1137.58 272.57L1094.27 297.57L1050.97 272.57L1050.97 222.57zM1050.97 272.57L1094.27 297.57L1094.27 347.57L1050.97 372.57L1007.67 347.57L1007.67 297.57zM1180.88 47.57L1224.18 72.57L1224.18 122.57L1180.88 147.57L1137.58 122.57L1137.58 72.57zM1137.58 122.57L1180.88 147.57L1180.88 197.57L1137.58 222.57L1094.27 197.57L1094.27 147.57zM1267.48 47.57L1310.79 72.57L1310.79 122.57L1267.48 147.57L1224.18 122.57L1224.18 72.57zM1224.18 122.57L1267.48 147.57L1267.48 197.57L1224.18 222.57L1180.88 197.57L1180.88 147.57zM1310.79 -27.43L1354.09 -2.43L1354.09 47.57L1310.79 72.57L1267.48 47.57L1267.48 -2.43zM1310.79 122.57L1354.09 147.57L1354.09 197.57L1310.79 222.57L1267.48 197.57L1267.48 147.57zM1354.09 197.57L1397.39 222.57L1397.39 272.57L1354.09 297.57L1310.79 272.57L1310.79 222.57z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2048'%3e%3crect width='1440' height='316' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2049'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.92'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.93'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.96'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.97'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;

}


/* Banner Index */


#product{
    text-align: center;
}

#product .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product .pro{
    width: 23%;
    min-width: 250px;
    padding:10px 12px;
    border: 3px solid  #0915c5;

    border-radius: 25px;
    cursor: pointer;
    box-shadow:  20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(7, 7, 7, 0.06);
    border-color:  #4CAF50; /* Change border color to green on hover */
}


#product .pro img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

#product .pro img:hover {
    transform: scale(1.1); /* Increase scale on hover (you can adjust the value) */
}


#product .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product .pro .des span{
    color: #1a1a1a;
    font-size: 12px;
}

#product .pro .des h5{
    padding-top: 2px;
    color: #1a1a1a;
    font-size: 14px;
}

#product .pro .des i{
    font-size: 12px;
    color: #1a1a1a;
}


#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;

}

#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #0915c5;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right: 10px;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
}



#product .pro .cart:hover {
    background-color:  #e8f6ea;
    color:#4CAF50;
    border-color:  #e8f6ea;
    transform: scale(1.1) rotateX(10deg) rotateY(10deg);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: rgb(241, 233, 233);
}

.custom-heading {
  font-size: 1.7rem;

  font-family: 'Roboto', sans-serif;
    line-height: 54px;
    color: rgb(12, 12, 12);
}

#product h2{

    font-size: 46px;
    line-height: 54px;
    color: rgb(14, 13, 13);
}

#product p{
    color: rgb(14, 13, 13);
}





#contact-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#contact-detail .details{
  width: 40%;
}

#contact-detail .details span,
#form-details form{
  font-size: 12px;
  color: rgb(241, 233, 233);
}

#contact-detail .details h2,
#form-details form h2{
  font-size: 27px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-detail .details h3{
  font-size: 16px;
  padding-bottom: 15px;
  color: rgb(241, 233, 233);
}

#contact-detail .details li{
 list-style: none;
 display: flex;
 padding: 10px 0;
}

#contact-detail .details li i{
  font-size: 14px;
  padding-right: 22px;
  color: rgb(241, 233, 233);

}

#contact-detail .details li p{
  margin: 0;
  font-size: 14px;

}

#contact-detail .map iframe{
  width: 100%;
  height: 100%;

}

#contact-detail .map{
  width: 55%;
  height: 500px;

}

#contact-detail .map h4{
  color: rgb(12, 11, 11);

}

/* line 531, styles/_homepage.scss */
.social-map .container h4.title {
  letter-spacing: .6px;
  color: #4a4a4a;
  font-family: 'BarlowMedium', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 539, styles/_homepage.scss */
.social-map .container .social-container {
  margin-bottom: 30px;
}
/* line 541, styles/_homepage.scss */
.social-map .container .social-container .social-fb {
  width: 100%;
  height: 500px;
}
/* line 544, styles/_homepage.scss */
.social-map .container .social-container .social-fb iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 500px;
}
/* line 549, styles/_homepage.scss */
.social-map .container .social-container .social-fb iframe div {
  min-width: 100%;
}

.social-map .container .map-container {
  margin-bottom: 30px;
}

.social-map .container .map-container #map {
  width: 100%;
  height: 440px;
  border: solid 5px #358500;
  position: relative;
}

.social-map .container .map-container #map iframe {
  width: 100%;
  height: 400px;
}

.social-map .container .map-container .map-address {
  padding: 5px 10px;
  background: #358500;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.social-map .container .map-container .map-address .map-svg {
  fill: #fff;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.social-map .container .map-container .map-address p {
  margin: 0;
  color: #fff;
  font-family: 'BarlowMedium', sans-serif;
  font-size: 12px;
}


/* About Page*/

#para {
  font-size: 16px;
  color: rgb(241, 233, 233);
  margin: 15px 0 20px 0;
  letter-spacing: 1px;
}



.heading span {
  color: black;
}

/* logsign */


.login-box{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-snip{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(0, 77, 77,.9);
}
.login-snip .login,
.login-snip .sign-up-form{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check{
	display:none;
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button{
	text-transform:uppercase;
}
.login-snip .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-space{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-space .group{
	margin-bottom:15px;
}
.login-space .group .label,
.login-space .group .input,
.login-space .group .button{
	width:100%;
	color:#fff;
	display:block;
}

.login-space .group .input,
.login-space .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}


.login-space .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-space .group .label{
	color:#aaa;
	font-size:12px;
}
.login-space .group .button{
	background:#1161ee;
}
.login-space .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}

.login-space .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-space .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}


.login-space .group .check:checked + label{
	color:#fff;
}
.login-space .group .check:checked + label .icon{
	background:#1161ee;
}
.login-space .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-space .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login{
	transform:rotate(0);
}
.login-snip .sign-up:checked + .tab + .login-space .sign-up-form{
	transform:rotate(0);
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

#hr{
	height:2px;
	margin:20px 0 30px 0;
	background:rgba(255,255,255,.2);
}

.hr{
	height:2px;
	margin:20px 0 20px 0;
	background:rgba(255,255,255,.2);
}

.foot{
	text-align:center;
}

::placeholder{
color: #b3b3b3;
}


/* Customer-Profile */

.bordered-container {
  border: 2px solid green;
  padding: 20px;
  border-radius: 10px;
}
.outer-container {
  border: 4px solid green; /* Outer border */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;

}
.profile-container, .address-container {
  flex: 1;
  margin: 0 15px; /* Space between containers */
}
.row-space {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-buttons {
  text-align: center; /* Center the buttons */
  margin-top: 20px;
}

.text-black {
  color: black;
}

@media (max-width: 768px) {
  .profile-container, .address-container {
      max-width: 100%;
      margin: 0; /* Reset margin on smaller screens */
  }
}


/* footer */


footer{
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom, #5696eb, #00008b) !important; /* Light blue to dark blue */
  background-size: cover;
   
  
}

.fa-info-circle, .fa-map-marker-alt, .fa-phone{
  margin-right: 8px;
}



/* Media query for smaller screens */
@media (max-width: 768px) { /* Adjust the max-width as needed for your target screen size */
  footer {
      background-size: 430px 932px; /* Adjusted size for smaller screens */
      /* Other styles specific to smaller screens can go here */
  }
}

/* Media query for smaller screens */
@media (max-width:  570px) { /* Adjust the max-width as needed for your target screen size */
  footer {
      background-size: 430px 932px; /* Adjusted size for smaller screens */
      /* Other styles specific to smaller screens can go here */
  }
}


/* Media query for smaller screens */
@media (max-width:  300px) { /* Adjust the max-width as needed for your target screen size */
  footer {
      background-size: 430px 932px; /* Adjusted size for smaller screens */
      /* Other styles specific to smaller screens can go here */
  }
}

/* Media query for smaller screens */
@media (max-width: 932px) { /* Adjust the max-width as needed for your target screen size */
  footer {
      background-size: 430px 932px; /* Adjusted size for smaller screens */
      /* Other styles specific to smaller screens can go here */
  }
}

@media (max-width: 870px) {
  .con {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .con.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .ntb.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .con:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .con.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .con.sign-up-mode .left-panel .image,
  .con.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .con.sign-up-mode .right-panel .image,
  .con.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .con.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form #forms{
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .con {
    padding: 1.5rem;
  }

  .con:before {
    bottom: 72%;
    left: 50%;
  }

  .con.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

#usertype option {
    color: black;
}

@media (max-width:900px) {
    .section-p1{
        padding: 40px 40px;
    }


    /* Adjusted styles for form input and button */
    #navbar .form-outline {
        margin-right: 10px; /* Adjust margin between input and button */
        flex-grow: 1; /* Ensures input takes remaining space */
    }

    #navbar .form-control {
        width: 100%; /* Input width takes full space */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
    }

    #navbar .btn-primary {
        background-color: #4090eb;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #navbar .btn-primary:hover {
        background-color: #a40000; /* Adjust hover background color */
    }


    #navbar {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width:300px;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='316' preserveAspectRatio='none' viewBox='0 0 1440 316'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2048%26quot%3b)' fill='none'%3e%3crect width='1440' height='316' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2049%26quot%3b)'%3e%3c/rect%3e%3cpath d='M182.86 179.91L247.81 217.41L247.81 292.41L182.86 329.91L117.9 292.41L117.9 217.41zM247.81 292.41L312.76 329.91L312.76 404.91L247.81 442.41L182.86 404.91L182.86 329.91zM377.72 292.41L442.67 329.91L442.67 404.91L377.72 442.41L312.76 404.91L312.76 329.91zM442.67 -45.09L507.63 -7.59L507.63 67.41L442.67 104.91L377.72 67.41L377.72 -7.59zM507.63 67.41L572.58 104.91L572.58 179.91L507.63 217.41L442.67 179.91L442.67 104.91zM442.67 179.91L507.63 217.41L507.63 292.41L442.67 329.91L377.72 292.41L377.72 217.41zM507.63 292.41L572.58 329.91L572.58 404.91L507.63 442.41L442.67 404.91L442.67 329.91zM572.58 179.91L637.53 217.41L637.53 292.41L572.58 329.91L507.63 292.41L507.63 217.41zM832.39 -45.09L897.35 -7.59L897.35 67.41L832.39 104.91L767.44 67.41L767.44 -7.59zM1416.98 292.41L1481.93 329.91L1481.93 404.91L1416.98 442.41L1352.03 404.91L1352.03 329.91zM1546.89 292.41L1611.84 329.91L1611.84 404.91L1546.89 442.41L1481.93 404.91L1481.93 329.91z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M175.36 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM175.36 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM110.4 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM110.4 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM305.26 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM305.26 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM240.31 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM175.36 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 -45.09 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM435.17 179.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM370.22 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM565.08 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM500.13 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM630.03 217.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM630.03 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM824.89 -45.09 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM889.85 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM889.85 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM824.89 104.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM759.94 67.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM759.94 -7.59 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1409.48 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1474.43 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1474.43 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1409.48 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1344.53 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1344.53 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1539.39 292.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1604.34 329.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1604.34 404.91 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1539.39 442.41 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M11.71 122.57L55.01 147.57L55.01 197.57L11.71 222.57L-31.59 197.57L-31.59 147.57zM55.01 197.57L98.31 222.57L98.31 272.57L55.01 297.57L11.71 272.57L11.71 222.57zM11.71 272.57L55.01 297.57L55.01 347.57L11.71 372.57L-31.59 347.57L-31.59 297.57zM141.62 47.57L184.92 72.57L184.92 122.57L141.62 147.57L98.31 122.57L98.31 72.57zM98.31 122.57L141.62 147.57L141.62 197.57L98.31 222.57L55.01 197.57L55.01 147.57zM141.62 197.57L184.92 222.57L184.92 272.57L141.62 297.57L98.31 272.57L98.31 222.57zM228.22 47.57L271.52 72.57L271.52 122.57L228.22 147.57L184.92 122.57L184.92 72.57zM184.92 122.57L228.22 147.57L228.22 197.57L184.92 222.57L141.62 197.57L141.62 147.57zM228.22 197.57L271.52 222.57L271.52 272.57L228.22 297.57L184.92 272.57L184.92 222.57zM271.52 -27.43L314.83 -2.43L314.83 47.57L271.52 72.57L228.22 47.57L228.22 -2.43zM271.52 122.57L314.83 147.57L314.83 197.57L271.52 222.57L228.22 197.57L228.22 147.57zM358.13 122.57L401.43 147.57L401.43 197.57L358.13 222.57L314.83 197.57L314.83 147.57zM401.43 197.57L444.74 222.57L444.74 272.57L401.43 297.57L358.13 272.57L358.13 222.57zM488.04 47.57L531.34 72.57L531.34 122.57L488.04 147.57L444.74 122.57L444.74 72.57zM444.74 122.57L488.04 147.57L488.04 197.57L444.74 222.57L401.43 197.57L401.43 147.57zM444.74 272.57L488.04 297.57L488.04 347.57L444.74 372.57L401.43 347.57L401.43 297.57zM531.34 -27.43L574.64 -2.43L574.64 47.57L531.34 72.57L488.04 47.57L488.04 -2.43zM661.25 47.57L704.55 72.57L704.55 122.57L661.25 147.57L617.95 122.57L617.95 72.57zM747.85 47.57L791.16 72.57L791.16 122.57L747.85 147.57L704.55 122.57L704.55 72.57zM834.46 47.57L877.76 72.57L877.76 122.57L834.46 147.57L791.16 122.57L791.16 72.57zM791.16 122.57L834.46 147.57L834.46 197.57L791.16 222.57L747.85 197.57L747.85 147.57zM834.46 197.57L877.76 222.57L877.76 272.57L834.46 297.57L791.16 272.57L791.16 222.57zM921.06 197.57L964.37 222.57L964.37 272.57L921.06 297.57L877.76 272.57L877.76 222.57zM877.76 272.57L921.06 297.57L921.06 347.57L877.76 372.57L834.46 347.57L834.46 297.57zM964.37 -27.43L1007.67 -2.43L1007.67 47.57L964.37 72.57L921.06 47.57L921.06 -2.43zM1007.67 47.57L1050.97 72.57L1050.97 122.57L1007.67 147.57L964.37 122.57L964.37 72.57zM964.37 272.57L1007.67 297.57L1007.67 347.57L964.37 372.57L921.06 347.57L921.06 297.57zM1050.97 -27.43L1094.27 -2.43L1094.27 47.57L1050.97 72.57L1007.67 47.57L1007.67 -2.43zM1094.27 47.57L1137.58 72.57L1137.58 122.57L1094.27 147.57L1050.97 122.57L1050.97 72.57zM1094.27 197.57L1137.58 222.57L1137.58 272.57L1094.27 297.57L1050.97 272.57L1050.97 222.57zM1050.97 272.57L1094.27 297.57L1094.27 347.57L1050.97 372.57L1007.67 347.57L1007.67 297.57zM1180.88 47.57L1224.18 72.57L1224.18 122.57L1180.88 147.57L1137.58 122.57L1137.58 72.57zM1137.58 122.57L1180.88 147.57L1180.88 197.57L1137.58 222.57L1094.27 197.57L1094.27 147.57zM1267.48 47.57L1310.79 72.57L1310.79 122.57L1267.48 147.57L1224.18 122.57L1224.18 72.57zM1224.18 122.57L1267.48 147.57L1267.48 197.57L1224.18 222.57L1180.88 197.57L1180.88 147.57zM1310.79 -27.43L1354.09 -2.43L1354.09 47.57L1310.79 72.57L1267.48 47.57L1267.48 -2.43zM1310.79 122.57L1354.09 147.57L1354.09 197.57L1310.79 222.57L1267.48 197.57L1267.48 147.57zM1354.09 197.57L1397.39 222.57L1397.39 272.57L1354.09 297.57L1310.79 272.57L1310.79 222.57z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2048'%3e%3crect width='1440' height='316' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2049'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.92'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.93'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.96'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='0.97'%3e%3c/stop%3e%3cstop stop-color='rgba(3%2c 106%2c 239%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }


    #mobile{
    display: flex;
    align-items: center;
    color: #faf5f5 !important;

    }

    #mobile i{
        color: #e9e3e3;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top:30px;
        left:30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }

    #hero {

    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
    }

    #feature{
        justify-content: center;
    }

    #product .pro-container{
        justify-content:center;

    }

    #product .pro{
        margin: 15px;
    }

    #form-details {
        padding: 40px;
    }

    #form-details form{
        width: 50%;
    }

}

